<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${chat.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/leaflet/leaflet.css}">
    <script th:src="@{/leaflet/leaflet.js}"></script>
    <script th:src="@{/jquery/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/leaflet-draw/src/leaflet.draw.css}">
    <!--<script th:src="@{/leaflet-draw/src/Leaflet.draw.js}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.7/leaflet.draw.js"></script>
    <script th:src="@{/leaflet-drag/L.Path.Drag.js}"></script>
    <script th:src="@{/leaflet-drag/Leaflet.draw.drag.js}"></script>
    <script th:src="@{/terraformer/terraformer.js}"></script>
    <script th:src="@{/terraformer/terraformer-wkt-parser.js}"></script>
    <!--<script th:src="@{/hw_res/jsts.js}"></script>-->
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        button {
            margin-right: 10px;
            font-family: "Proxima Nova W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: transparent;
        }

        p {
            font-size: 17px;
            margin-bottom: 10px;
        }
        .navbar {
            margin-bottom: 0;
        }

        #messages-out{
            position: fixed;
            overflow-y: auto;
            top: 120px;
            bottom: 0px;
            right: 0px;
            width: 25%;
            background: white
        }

        #message-send-form{
            position: fixed;
            top: 50px;
            bottom: 0px;
            right: 0px;
            width: 25%;
            background: white
        }

        #map{
            position: fixed;
            bottom: 0px;
            top: 50px;
            right: 25%;
            left: 0px;
            background: white
        }

    </style>
</head>
<body style="padding-top: 70px;">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Геочат</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Личная страница
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="onFileSelectClick();">Открыть</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Чат
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/pages/chats}">Чаты</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Аналитика
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/pages/analytics}">Просмотреть аналитику</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/pages/main/action/logout}">Выйти</a></li>
                </ul>
            </div>
        </nav>
        <input type="file" id="geojson-select" style="display:none" />
        <div id="map"></div>
        <div id="message-send-form" class="row">
            <input id="message-input" type="text" class="form-control">
            <button type="button" id="message-send-button" class="btn btn-secondary btn-success">Отправить сообщение</button>
        </div>
        <div id="messages-out" class="row">

        </div>
    </div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/sockjs/sockjs.js}"></script>
<script th:src="@{/sockjs/stomp.js}"></script>
<script th:src="@{/moment/moment.js}"></script>
<script th:inline="javascript">
    var mainContext = /*[[@{'/'}]]*/"";
    function onFileSelectClick(){
        $("#geojson-select").click();
    }
    function handleFileSelect(evt){
        var file = evt.target.files[0];
        var reader = new FileReader();
        reader.onload = (function(theFile) {
            return function(e) {
                var gj = JSON.parse(e.target.result);
                L.geoJSON(gj).addTo(window.map);
            };
        })(file);

        // Read in the image file as a data URL.
        reader.readAsText(file);
    }

        document.getElementById("geojson-select").addEventListener("change", handleFileSelect, false);
        // Choose center and zoom level

        window.options = {
            zoom: 5,
            center: [55.42, 36.58]
        };

        if(navigator){
            navigator.geolocation.getCurrentPosition(function (pos) {
                window.options.center = [pos.coords.latitude, pos.coords.longitude];
            });
        }


        // Instantiate map on specified DOM element
        window.map = new L.Map('map', window.options);

        // Choose the style you like
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(window.map);


        // Draw polygons
        window.drawnItems = new L.FeatureGroup();
        window.map.addLayer(window.drawnItems);

        // Initialise the FeatureGroup to store editable layers
        var drawControl = new L.Control.Draw({
            draw: {
                position: 'topleft',
                polygon: {
                    title: 'Draw a polygon!',
                    allowIntersection: false,
                    drawError: {
                        color: '#b00b00',
                        timeout: 1000
                    },
                    shapeOptions: {
                        color: '#bada55'
                    },
                    showArea: true
                },
                polyline: {
                    metric: false
                },
                circle: {
                    shapeOptions: {
                        color: '#662d91'
                    }
                }
            },
            edit: {
                featureGroup: window.drawnItems
            }
        });
        window.map.addControl(drawControl);

        var updateFunction = function (currentLayer) {
        };

        window.map.on('draw:created', function (e) {
            var layer = e.layer;
            var ceh = (function(currentLayer){
                return function (e){
                    var cwkt = Terraformer.WKT.convert(currentLayer.toGeoJSON().geometry);
                    window.location = mainContext + "pages/analytics?region=" + cwkt;
                }
            })(layer);
            layer.on('click', ceh);
            window.drawnItems.addLayer(layer);
            updateFunction(layer);
        });

        window.map.on('draw:edited', function (e) {
            var layers = e.layers;
            layers.eachLayer(function (layer) {
                updateFunction(layer);
            });
        });
</script>
<script th:inline="javascript">
    var context = /*[[@{'/geo-chat'}]]*/"";
    var chatId = /*[[${chat.id}]]*/"";
    var userId = /*[[${user.id}]]*/0;
    var lname = /*[[${user.lastName}]]*/"";
    var fname = /*[[${user.firstName}]]*/"";
    var i = 0;
    var chatClient = null;
    $(document).ready(function () {
        connect();
    });

    $(document).ready(function () {
        $.getJSON(mainContext + "chat/" + chatId + "/messages", function (messages) {
            messages.forEach(function (m, i, a) {
                var message = m.body;
                var headerStr = "<b>" + m.senderName + "</b><br>";
                var messageStr = "<i>" + message + "</i><br/>";
                var geom = Terraformer.WKT.parse(m.geom);
                L.marker([geom.coordinates[0], geom.coordinates[1]])
                    .bindPopup(message.senderName + ':<br/>' + message)
                    .addTo(drawnItems);
                $("#messages-out").append(headerStr + messageStr);
            });
        });
    });

    function connect() {
        var socket = new SockJS(context);
        chatClient = Stomp.over(socket);
        chatClient.connect({}, function(frame) {
            chatClient.subscribe('/chat/message/receive', function(message_frame){
                var message = JSON.parse(message_frame.body);
                var headerStr = "<b>" + message.senderName + "</b><br>";
                var messageStr = "<i>" + message.body + "</i><br/>";
                var geom = Terraformer.WKT.parse(message.geom);
                L.marker([geom.coordinates[0], geom.coordinates[1]])
                    .bindPopup(message.senderName + ':<br/>' + message.body)
                    .addTo(drawnItems);
                $("#messages-out").append(headerStr + messageStr);
            });
        });
    }
    $("#message-send-button").click(function () {
        if(navigator){
            navigator.geolocation.getCurrentPosition(function (pos) {
                var time = Date.now();
                var body = $("#message-input").val();
                var lat = pos.coords.latitude;
                var lon = pos.coords.longitude;
                var geom = "POINT(" + lat + " " + lon + ")";
                chatClient.send('/geo-app/chat/' + chatId + '/message/send',
                    {},
                    JSON.stringify({
                        'body' : body,
                        'time': (new Date()).toISOString(),
                        'geom': geom,
                        'senderId': 1,
                        'chatId': 1,
                        'senderName' : lname + ' ' + fname
                    }));
            });
        }
        else{
            alert("Ваше устройство не поддерживает определение местоположения!");
        }
    });
</script>

<script th:inline="javascript">

</script>
</body>
</html>