<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${chat.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/leaflet/leaflet.css}">
    <script th:src="@{/leaflet/leaflet.js}"></script>
    <script th:src="@{/jquery/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/leaflet-draw/src/leaflet.draw.css}">
    <script th:src="@{/leaflet-draw/src/leaflet_draw.js}"></script>
    <!--<script th:src="@{/leaflet.drag/Edit.Poly.Drag.js}"></script>-->
    <!--<script th:src="@{/leaflet.drag/Edit.Circle.Drag.js}"></script>-->
    <!--<script th:src="@{/leaflet.drag/Edit.SimpleShape.Drag.js}"></script>-->
    <!--<script th:src="@{/leaflet.drag/Edit.Rectangle.Drag.js}"></script>-->
    <!--<script th:src="@{/leaflet-drag/Leaflet.draw.drag.js}"></script>-->
    <script th:src="@{/terraformer/terraformer.js}"></script>
    <script th:src="@{/terraformer/terraformer-wkt.js}"></script>
    <!--<script th:src="@{/hw_res/jsts.js}"></script>-->
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        button {
            margin-right: 10px;
            font-family: "Proxima Nova W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: transparent;
        }

        p {
            font-size: 17px;
            margin-bottom: 10px;
        }
        .navbar {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Геочат</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Личная страница
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="onFileSelectClick();">Открыть</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Чат
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Управление чатом</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Аналитика
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Просмотреть аналитику</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<input type="file" id="geojson-select" style="display:none" />
<div id="map" style="position: fixed; bottom: 0px; top: 50px; right: 25%; left: 0px; background: white"></div>
<div style="position: fixed; overflow-y: auto; top: 50px; bottom: 0px; right: 0px; width: 25%; background: white">
</div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function onFileSelectClick(){
        $("#geojson-select").click();
    }
    function handleFileSelect(evt){
        var file = evt.target.files[0];
        var reader = new FileReader();
        reader.onload = (function(theFile) {
            return function(e) {
                var gj = JSON.parse(e.target.result);
                L.geoJSON(gj).addTo(window.map);
            };
        })(file);

        // Read in the image file as a data URL.
        reader.readAsText(file);
    }

    window.onload = function () {
        document.getElementById("geojson-select").addEventListener("change", handleFileSelect, false);
        // Choose center and zoom level
        var options = {
            center: [41.8369, -87.6847], // Chicago
            zoom: 5
        };

        // Instantiate map on specified DOM element
        window.map = new L.Map('map', options);

        // Choose the style you like
        L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/base/{z}/{x}/{y}.png').addTo(window.map);


        // Draw polygons
        window.drawnItems = new L.FeatureGroup();
        window.map.addLayer(window.drawnItems);

        // Initialise the FeatureGroup to store editable layers
        var drawControl = new L.Control.Draw({
            draw: {
                position: 'topleft',
                polygon: {
                    title: 'Draw a polygon!',
                    allowIntersection: false,
                    drawError: {
                        color: '#b00b00',
                        timeout: 1000
                    },
                    shapeOptions: {
                        color: '#bada55'
                    },
                    showArea: true
                },
                polyline: {
                    metric: false
                },
                circle: {
                    shapeOptions: {
                        color: '#662d91'
                    }
                }
            },
            edit: {
                featureGroup: window.drawnItems
            }
        });
        window.map.addControl(drawControl);

        var updateFunction = function (currentLayer) {
//            console.log("Current layer: ");
//            var cwkt = Terraformer.WKT.convert(currentLayer.toGeoJSON().geometry);
//            console.log(cwkt);
//            var reader = new jsts.io.WKTReader();
//            var curObj = reader.read(cwkt);
//            window.drawnItems.eachLayer(function(otherLayer){
//                var geojson = otherLayer.toGeoJSON();
//                var owkt = Terraformer.WKT.convert(geojson.geometry);
//                var othObj = reader.read(owkt);
//                window.console.log(owkt);
//                window.console.log("This layer intersects with current one:");
//                window.console.log(curObj.intersects(othObj));
//                window.console.log("This layer covers current one");
//                window.console.log(curObj.coveredBy(othObj));
//                window.console.log("This layer disjoint current one");
//                window.console.log(curObj.disjoint(othObj));
//                window.console.log("This layer crosses current one");
//                window.console.log(curObj.crosses(othObj));
//            });
        };

        window.map.on('draw:created', function (e) {
            var layer = e.layer;
//            var ceh = (function(currentLayer){
//                return function (e){
//                    console.log(currentLayer);
//                    console.log("================================================");
//                    console.log("Current layer: ");
//                    var cwkt = Terraformer.WKT.convert(currentLayer.toGeoJSON().geometry);
//                    console.log(cwkt);
//                    var reader = new jsts.io.WKTReader();
//                    var curObj = reader.read(cwkt);
//                    window.drawnItems.eachLayer(function(otherLayer){
//                        var geojson = otherLayer.toGeoJSON();
//                        var owkt = Terraformer.WKT.convert(geojson.geometry);
//                        var othObj = reader.read(owkt);
//                        window.console.log(owkt);
//                        window.console.log("This layer intersects with current one:");
//                        window.console.log(curObj.intersects(othObj));
//                        window.console.log("This layer covers current one");
//                        window.console.log(curObj.coveredBy(othObj));
//                        window.console.log("This layer disjoint current one");
//                        window.console.log(curObj.disjoint(othObj));
//                        window.console.log("This layer crosses current one");
//                        window.console.log(curObj.crosses(othObj));
//                    });
//                    console.log("================================================");
//                }
//            })(layer);
//            layer.on("click", ceh);
            window.drawnItems.addLayer(layer);
            updateFunction(layer);
        });

        window.map.on('draw:edited', function (e) {
            var layers = e.layers;
            layers.eachLayer(function (layer) {
                updateFunction(layer);
            });
        });
    }
</script>
<script>

</script>
</body>
</html>