<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Геочат</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" th:href="@{boilerplate/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>
        window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="card">
                <div class="card__heading"><h3>Авторизация</h3></div>
                <ul class="card__head nav nav-tabs" id="auth" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#login" aria-controls="home" role="tab" data-toggle="tab">Вход</a>
                    </li>
                    <li role="presentation">
                        <a href="#registration" aria-controls="profile" role="tab" data-toggle="tab">Регистрация</a>
                    </li>
                </ul>

                <div class="card__content tab-content">
                    <div role="tabpanel" class="tab-pane active" id="login">
                        <form th:action="@{/pages/index/action/user/auth}" th:object="${credentials}" method="post">
                            <div class="form-group">
                                <label for="log-login">Логин</label>
                                <input type="text" class="form-control" id="log-login" th:field="*{userName}" placeholder="Введите логин">
                            </div>
                            <div class="form-group">
                                <label for="pass-login">Пароль</label>
                                <input type="password" class="form-control" id="pass-login" th:field="*{password}" placeholder="Введите пароль">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Запомнить меня
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Войти</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="registration">
                        <form th:action="@{/pages/index/action/user/new}" th:object="${newUser}" method="post">
                            <div class="form-group">
                                <label for="firstName-reg">Имя</label>
                                <input type="text" class="form-control" id="firstName-reg" th:field="*{firstName}" placeholder="Введите логин">
                            </div>
                            <div class="form-group">
                                <label for="lastName-reg">Фамилия</label>
                                <input type="text" class="form-control" id="lastName-reg" th:field="*{lastName}" placeholder="Введите логин">
                            </div>
                            <div class="form-group">
                                <label for="userName-reg">Логин</label>
                                <input type="text" class="form-control" id="userName-reg" th:field="*{userName}" placeholder="Введите логин">
                            </div>
                            <div class="form-group">
                                <label for="pass-reg">Пароль</label>
                                <input type="password" class="form-control" id="pass-reg" th:field="*{password}" placeholder="Введите пароль">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{boilerplate/js/scripts.js}"></script>
<script th:src="@{boilerplate/js/main.js}"></script>
</body>
</html>