<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geo application CHW</title>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{leaflet/leaflet.css}">
    <script th:src="@{jquery/jquery.js}"></script>
</head>
<body>
<img th:src="@{img/magic.jpg}"/>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>